# Producer API URL
VITE_API_URL=http://localhost:8000

# Kafka broker (for display only)
VITE_KAFKA_BROKERS=localhost:9092

# SMB path for exports (for display only)
VITE_SMB_PATH=/Volumes/personal_folder/data
